.heading {
  position: relative;
  width: 100vw;
  height: 140px;
  background-color: #dedada;
}

.logo {
  position: absolute;
  left: 130px;

  margin-top: 30px;
}

.main {
  position: relative;
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
