.nav {
  position: absolute;
  width: 50%;

  margin-top: 20px;
  right: 0;
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 30px 50px 0px;
  font-size: 18px;
}
