.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  width: 100%;
}

.links li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 18px;
}

.logo {
  position: absolute;
  cursor: pointer;
}
